body{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    color: white;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
  }
  
  header{
    background-color: black;
    padding: 20px;
    color: #fff;
  }

  #ordo{
    opacity: 0.7;
    height: 560px;
    width: 400px ;
    border-radius: 20px;
  }

  #linha{
    display: flex;
    align-items: center;
  }
  
  #historia{
    margin: auto;
    padding: auto;
  }
  
  h1{
    margin: 0;
    font-size: 32px;
  }
  
  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li{
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  nav a:hover{
    text-decoration: underline;
  }
  
  main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(15, 15, 15, 0.1); */
  }
  
  h2{
    font-size: 28px;
  }
  
  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px
    ;
  }
  
  li{
    margin-bottom: 10px;
  }
  
  /* #personagens{
    display: flex;
    justify-items: auto;
    align-items: center; 
  }*/
  
  
  /* #simbulo{
    max-width: 50%;
    height: 100px;
    width: 100px;
    display: none;
    margin: auto;
    align-items: column;
  } */
  
  #personagem{
    height: 300px;
    width: 300px;
    display: block;
    justify-items: column;
  }
  
  #ordem{
    max-width: 50%;
    height: 300px;
    width: 300em;
    display: block;
    margin: auto;
  }
  
  figure{
    /* border: 1px solid rgb(248, 246, 246); */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  figcaption{
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 5px;
  }
  
  footer{
    margin-top: 50px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  footer:hover{
    text-decoration: underline;
  }